html, body {
  height: 100%;
  background: $primary-color;
  color: $darker-color5;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  //md, lg
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
  //overflow-x: hidden;
  ::selection {
    background: $darker-color5;
    color: $primary-color;
  }
  * {
    box-sizing: border-box;
  }
}
.gauge {
  @include element('wrapper') {
    min-height: 100%;
    position: relative;
  }
  @include element('content') {
    padding-bottom: 80px;
    @media (min-width: $screen-sm-min) {
      padding-bottom: 45px;
    }
    h1 {
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      margin-bottom: 25px;
    }
    table {
      thead {
        font-weight: 600;
      }
      tbody {
        tr {
          cursor: pointer;
          td {
            vertical-align: middle;
            &.capitalize {
              text-transform: capitalize;
            }
            &.male {
              color: #4c7bd4;
            }
            &.female {
              color: #ea3da4;
            }
            span {
              &.brand {
                img {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
    .sk-three-bounce {
      .sk-child {
        background: $tertiary-color;
      }
    }
    .form-control {
      margin-bottom: 20px;
    }
  }
  @include element('tab') {
    background: $lighter-color1;
    border-radius: 7px;
    padding: 20px 15px;
    margin-top: 20px;
    box-shadow: 0 4px 0px 3px lighten($lighter-color3, 5%);
    &:last-child {
      margin-bottom: 30px;
    }
  }
  @include element('user') {
    @include element('interactions') {
      h4 {
        span {
          text-transform: capitalize;
        }
      }
      @include element('picture') {
        max-width: 100%;
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min) {
          margin-bottom: 0;
        }
      }
      .modal-body {
        @media (min-width: $screen-sm-min) {
          text-align: left;
        }
      }
      @include element('chart') {
        min-width: 270px;
        height: 500px;
        @media (min-width: $screen-sm-min) {
          min-width: 570px;
        }
        @media (min-width: $screen-md-min) {
          min-width: 870px;
        }
        .highcharts-container {
          //width: 100%!important;
        }
      }
    }
  }
  @include element('header') {
    position: relative;
    @include element('nav-toggle') {
      position: absolute;
      cursor: pointer;
      top: 15px;
      right: 15px;
      width: 35px;
      @media (min-width: $screen-sm-min) {
        top: 39px;
        right: 18px;
        width: 54px;
      }
      @include element('bar') {
        height: 4px;
        background: $lighter-color1;
        position: relative;
        transition: all ease-out 700ms;
        &:not(:last-child) {
          margin-bottom: 7px;
        }
        &:nth-child(1) {
          &.close-menu {
            transform: rotate(55deg);
            top: 11px;
          }      
        }
        &:nth-child(2) {
          &.close-menu {
            transform: rotate(-55deg);            
          }
        }
        &:nth-child(3) {
          &.close-menu {
            opacity: 0;
          }
        }
      }
    }
  }
  @include element('footer') {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: $darker-color3;
    color: $lighter-color1;
    padding: 10px 0;
    @include element('social') {
      font-size: 18px;
      margin-bottom: 15px;
      @media (min-width: $screen-sm-min) {
        text-align: left;
        margin-bottom: 0;
      }
      a {
        color: inherit;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    @include element('powered') {
      @media (min-width: $screen-sm-min) {
        text-align: right;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}